<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- BOOTSTRAP -->


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">OEE Software</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href={% url 'dashboard' %}>Home</a>
          <a class="nav-link" href={% url 'inputValues' %}>Calculate the OEE</a>
          <a class="nav-link" href={% url 'getHistoricalData' %}>Display OEE for a production line</a>
          <a class="nav-link " href = {% url 'EntryPage' %}>Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>

  <!-- OEE FORM -->
  <body>


  <form action="" method="post" id = "form">
    {% csrf_token %}
    <h1> Input values to calculate OEE</h1>
    <br>
<!-- Machine ID-->
  <div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Machine ID</span>
      <select class="form-select" aria-label="Default select example" name = "MachineID" required>
        <option selected>Select Machine ID</option>
        <option value="123">123</option>
        <option value="239">239</option>
        <option value="213">213</option>
      </select>
  </div>
  <!-- INPUT VALUES-->
  <br>
  
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Total Shift Time</span>
        
        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "TotalShiftTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "TotalShiftTimeMin" required>
      
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Planned Down Time</span>
        

        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "PlannedDownTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "PlannedDownTimeMin" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">All Down Time</span>
    
        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "AllDownTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "AllDownTimeMin" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">All Stop Time</span>
        

        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "AllStopTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "AllStopTimeMin" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Actual Cycle Time</span>
        

        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "ActualCycleTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "ActualCycleTimeMin" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Theoretical Cycle Time</span>
        

        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "TheoreticalCycleTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "TheoreticalCycleTimeMin" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Actual Processing Time</span>
        

        <input type="text" class="form-control" placeholder="Hour" aria-label="Hour" name = "ActualProcessingTimeHr" required>
        <span class="input-group-text">:</span>
        <input type="text" class="form-control" placeholder="Minute" aria-label="Minute" name = "ActualProcessingTimeMin" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Total Amount Produced</span>

        <input type="text" class="form-control" placeholder="Quantity" aria-label="Hour"name = "TotalAmountProduced" required>

      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Defect Amount Produced</span>

        <input type="text" class="form-control" placeholder="Quantity" aria-label="Hour"name = "DefectAmountProduced" required>

      </div>
    <button type="submit" class="btn btn-primary">Calculate OEE</button>
  </form>
</body>

<style scoped>
  body{
    background-image: url('./Images/Input_Background.jpg');
  
  }
  form{
    padding-left: 250px;
    padding-right: 250px;
  }
  input[type=text]{
    background-color: rgba(245,245,245,0.7);
  }
</style>