<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<!-- BOOTSTRAP -->

{% load static %}

<!--Include navbar-->
{% include 'Pages/Navbar/Navbar.html' %}
<!-- END INCLUDE-->

  <!-- Display OEE-->
<body>


  <form class="tablestyle" action="" method="post" id = "form">
    {% csrf_token %}
    <h1> Select Machine ID to filter Data</h1>
    <br>
<!-- Machine ID-->
    <div class="input-group input-group-lg">
      <span class="input-group-text" id="inputGroup-sizing-lg">Machine ID</span>
      <select class="form-select" aria-label="Default select example" name = "MachineID" required>
        <option selected value = "0">All</option>
        <option value="123">123</option>
        <option value="239">239</option>
        <option value="213">213</option>
      </select>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div class="tablestyle">
    <h1>OEE Scores</h1>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Machine ID</th>
        <th scope="col">Quality</th>
        <th scope="col">Performance</th>
        <th scope="col">Availability</th>
        <th scope="col">OEE</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for i in id %}
      <tr>
        <td scope = "row"> {{ forloop.counter }} </td>
        <td scope = "row"> {{ i.machineid }} </td>
        <td scope = "row"> {{ i.Qvalue }} </td>
        <td scope = "row"> {{ i.Pvalue }} </td>
        <td scope = "row"> {{ i.Avalue }} </td>
        <td scope = "row"> {{ i.oeevalue }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</body>
  <style scoped>
    body{
      background-image: url("{% static 'Images/Display_Background.jpg'%}");
    }
    .tablestyle{
      padding-left: 250px;
      padding-right: 250px;
    }
  </style>